div {
  box-sizing: border-box;
}

body {
  background-color: darkgray;
}

#window {
  display: grid;
  width: 480px;
  height: 480px;
  background-color: white;
}

header {
  text-align: center;
  margin: 25px;
}

.cell {
  border: 0.1px solid gray;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.etchasketch,
.controls {
  display: flex;
}

.controls {
  flex-direction: column;
  justify-content: center;
}

.btn {
  margin: 10px 100px;
}

#colorPicker {
  margin: 0 auto;
}
