div{
    display: inline-block;
}

h1{
    margin-top: 25px;
    text-align: center;
}
.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.button-wrapper{
    display: flex;
    justify-content: center;
}

button{
    width: 100px;
    margin: 50px;
}

.result-wrapper{
    display: flex;
    justify-content: center;
}

.result{
    font-weight: bold;
}