.GridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: fit-content;
  height: calc(100vh - 150px);
  text-align: center;
}

.TaskGrid {
  min-width: 20rem;
}

ul {
  list-style: none;
}

h1,
h3 {
  color: white !important;
}

#root {
  background-color: #333333;
}
.card-body > p {
  text-align: left;
  color: black;
}
.card {
  margin-bottom: 10px;
}
.modal > * {
  color: black;
}
