body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

header, .container>div{
    padding: 20px 200px;
}

header, .hero, .main, .quote, .action-call-main, .main-gallery{
    display: flex;
}
.main, .quote{flex-direction: column;}

header, .hero, .footer{
    background: #1F2937;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.hero-text>h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.hero-text, nav>a, .footer-text{
    font-size: 18px;
    color: #E5E7EB;
}

.quote{
    background: #E5E7EB;
}