#App{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width:405px;
    height:405px
}
.tile{
    width:135px;
    height:135px;
    font-weight: bold !important;
    font-size: 5rem !important;
}

.board-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    >div>button{
        background-color:white !important;
        border:5px solid black !important;
        border-radius: 0% !important;
    }
}
.app-container{
    margin: 50px;
}



#root > div > div:nth-child(1) > button:nth-child(1){
    border-top: none !important;
    border-left: none !important;
}

#root > div > div:nth-child(1) > button:nth-child(2){
    border-top: none !important;
}

#root > div > div:nth-child(1) > button:nth-child(3){
    border-top: none !important;
    border-right: none !important;
}

#root > div > div:nth-child(2) > button:nth-child(1){
    border-left: none !important;
}

#root > div > div:nth-child(2) > button:nth-child(3){
    border-right: none !important;
}

#root > div > div:nth-child(3) > button:nth-child(1){
    border-left: none !important;
    border-bottom: none !important;
}

#root > div > div:nth-child(3) > button:nth-child(2){
    border-bottom: none !important;
}

#root > div > div:nth-child(3) > button:nth-child(3){
    border-right: none !important;
    border-bottom: none !important;
}